.container {
  position: relative;
  margin: 0 auto;
  width: 402px;
  height: 100vh;
  background: #fff6d2;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Box {
  width: 342px;
  height: 90vh;
  flex-shrink: 0;
  border-radius: 20px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px 2px rgba(255, 140, 0, 0.38);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#BackBtn {
  position: absolute;
  width: 30.873px;
  height: 25.758px;
  flex-shrink: 0;
  margin-top: 28px;
  margin-left: 26px;
  cursor: pointer;
  left: 30px;
}

.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

#Title {
  width: 300px;
  height: 33px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #000;
  margin-top: 10vh;
  color: #535353;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.ContentBox {
  margin-top: 19px;
  width: 262px;
  height: 447px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ff8400;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(255, 140, 0, 0.1);
  padding: 15px;
}

.Date {
  color: #ff8400;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

#ContentInput {
  color: #535353;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  padding: 15px;
  outline: none;
  border: none;
  background: none;
  resize: none; /* 크기 조절 핸들 없애기 */
}

.WriteBtn {
  width: 180px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #ff9668;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
}
